*{
    box-sizing: border-box;
    font-family: cursive;
}

.conatainer{
    margin: 50px 30px;
    background: linear-gradient(to right, rgb(102, 102, 102), rgba(255, 0,0,0), rgb(102, 102, 102));
    border: solid 1px rgba(102,102,102);
    border-radius: 4px;
}

.header{
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.sub_header{
    font-size: 1.5vw;
    text-align: center;
    padding: 0px 0px 20pxpx 0px;
}

img{
    width: 30%;
    height: auto;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
}

.pic_head{
    font-size: 1.5vw;
    text-align: center;
}

.pic_sub_head{
    font-size: 1.5vw;
    text-align: center;
}

.main{
    font-size: 1.5vw;
    text-align: justify;
    padding: 10px 20px;
}

.footer_qout{
    font-size: 1.5vw;
    padding: 10px 20px;
}

.footer{
    font-size: 1.5vw;
    padding: 10px 20px 30px 20px;
}